# IdentityHub Configuration
REACT_APP_AUTHORITY=https://id.demo.operlity.com
REACT_APP_CLIENT_ID=ee772e0e-4f95-48a5-8bbb-f2adb0696109
REACT_APP_REDIRECT_URI=http://localhost:4500/signin-oidc
REACT_APP_POST_LOGOUT_REDIRECT_URI=http://localhost:4500

# App Configuration
PORT=4500