# IdentityHub Configuration
REACT_APP_AUTHORITY=https://ogsiamapp.azurewebsites.net
REACT_APP_CLIENT_ID=33e1f48d-8071-4f3a-b8b5-3d0948f9a93d
REACT_APP_CLIENT_SECRET=ICALeUurpuzYfGxh38VJLGeLlC5NtYgCyT+l4/nudfY=
REACT_APP_REDIRECT_URI=http://localhost:7284/signin-oidc
REACT_APP_POST_LOGOUT_REDIRECT_URI=http://localhost:7284
REACT_APP_BASE_URL=https://ogsiamapp.azurewebsites.net

# App Configuration
PORT=7284
